*.iml
.gradle/
/local.properties
.DS_Store
build/
captures/
outputs/
*.log
*.keystore
*.jks
navigation.json
Thumbs.db
.externalNativeBuild
.cxx
local.properties
.idea/
*/build/
*.hprof
java_pid*.hprof
